.btn {
  background-color: #337ab7;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  border: 0px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .btn:hover {
    background-color: #286090; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #333; }
  body h1 {
    font-size: 36px; }
